<pre>
    <%= JSON.stringify(item,null,5) %>
</pre>
<form method="POST" action="/transaction/put">
    <input type="hidden" name="itemId" value="<%= item._id %>">
    <label for="description">description: </label>
    <input type="text" value="<%= item.description %>" name="description">
    <br>
    <label for="category">category: </label>
    <input type="text" value="<%= item.category %>" name="category">
    <br>
    <label for="amount">amount: </label>
    <input type="number" value="<%= item.amount %>" name="amount">
    <br>
    <label for="date">date: </label>
    <input type="date" value="<%= item.date %>" name="date">
    <br>
    <input type="submit" value="store">
</form>